@model Usuario
@{
    ViewBag.Subtitulo = "Excluir";
}

        <h1 class="text-primary">
            Exclusão de usuario
        </h1>
        <hr>
        <h4>Deseja Realmente exluir o canditado ? <span class="text-danger">@Model.Nome</span></h4>
        <form method="POST" class="w-25">
            <input type="hidden" asp-for="IdUsuario">
            <div class="form-group">
                <a asp-action="Usuarios" class="btn btn-success">Não</a>
                <button class="btn btn-danger" type="submit">Sim</button>
            </div>

        </form>